* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #dddddd;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
  margin: auto;
}

.wrapper > p {
  margin: 20px 0;
}
